.loading img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

.loadingMini img {
    display: block;
    object-fit: contain;
    width: 100px;
    height: 100px;
}



